1. What are data structures, and why are they important?
  
    * Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Common examples in Python include lists, tuples, sets, and dictionaries. They are important because they determine the efficiency of various operations such as searching, insertion, deletion, and data organization.

2.  Explain the difference between mutable and immutable data types with examples.     

    * Mutable data types allow modification after creation. Their contents can change.

           Examples: list, dict
    * Immutable data types cannot be changed once created. Any operation that alters them creates a new object.

           Examples: int, float, str, tuple       

3.  What are the main differences between lists and tuples in Python?
    
    * Lists :  Ordered, mutable collections of elements. Lists can hold items of various data types (numbers, strings, even other lists!).You can add, remove, or modify elements within a list using indexing and slicing.
    
    *  Tuple :  Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.

4. Describe how dictionaries store data.
    
    * Dictionaries in Python store data in key-value pairs using a structure called a hash table. Each key is hashed to a unique index that points to its corresponding value.

5.  Why might you use a set instead of a list in Python?

    * A set is used instead of a list when:

          You need to store unique items (no duplicates)

          You don’t need the data to be in any specific order
6. What is a string in Python, and how is it different from a list?

    * A string is an immutable sequence of characters. A list is a mutable sequence that can contain elements of any data type.

          String: "hello" (characters only, immutable)

          List: ["h", "e", "l", "l", "o"] (can be modified)

      Strings are commonly used for text data, while lists are more general-purpose containers.

7. How do tuples ensure data integrity in Python?
  
    *  Tuples are immutable, their content cannot be changed after creation. This property makes tuples reliable for:

           Storing constant or fixed-size data

           Using them as keys in dictionaries

           Ensuring data doesn’t get accidentally altered during program execution

8. What is a hash table, and how does it relate to dictionaries in Python?

    * A hash table is a data structure that maps keys to values using a hashing function. In Python, dictionaries use hash tables internally to provide constant-time complexity for operations like lookup, insertion, and deletion.

9. Can lists contain different data types in Python?
    
    * Yes. Python lists are heterogeneous, meaning they can store elements of different data types in the same list.

            Example:    my_list = [ 1, "text", 3.14, [1, 2], True]

10. Explain why strings are immutable in Python.

    * Strings are immutable for several reasons:

            Security: Immutable strings prevent accidental or malicious changes.

            Efficiency: Python optimizes memory usage by reusing string objects.

            Hashing: Strings must be immutable to be used as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?

    * Dictionaries are better than lists when:

          You need associative data (e.g., name-to-age mapping)

          You want fast lookup by key (O(1) time complexity)

          You deal with non-numeric indexes

12. Describe a scenario where using a tuple would be preferable over a list.

   * Imagine you're developing a map application that stores the fixed location (latitude, longitude) of landmarks:

          Example: eiffel_tower = (48.8584, 2.2945)  # Tuple

13. How do sets handle duplicate values in Python?

    * Sets automatically eliminate duplicate values. When a set is created or updated, all duplicate elements are discarded, ensuring each element is unique.
            Example: s = set([1, 2, 2, 3])  # s becomes {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

    * For lists, "in" checks if a value exists.

          Example: 3 in [1, 2, 3]  # True
    * For dictionaries, in checks if a key exists.

          Example: 'name' in {'name': 'Alice'}  # True    

15. Can you modify the elements of a tuple? Explain why or why not.

    * No. Tuples are immutable, so their contents cannot be changed after creation. Any attempt to modify a tuple results in a TypeError. This ensures data safety and consistency.

16.  What is a nested dictionary, and give an example of its use case?

    * A nested dictionary is a dictionary where values are also dictionaries.

           Example: students = { "101": {"name": "Alice", "grade": "A"},
                                 "102": {"name": "Bob", "grade": "B"}}

17. Describe the time complexity of accessing elements in a dictionary.

   * Average case: O(1) due to hashing

     Worst case: O(n) in case of hash collisions (rare)


18. In what situations are lists preferred over dictionaries?

   * Lists are preferred when:

          Data order matters (especially in ordered collections)

          You only need sequential access

          You need to access elements by position (index-based access)

          Keys are not required

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

   *  Dictionaries are considered unordered collections conceptually because:

           Access is based on keys, not position

           The primary purpose is fast lookup, not ordering

20. Explain the difference between a list and a dictionary in terms of data retrieval.

   * List:  A list is an ordered collection of items where each element is stored at a specific numeric index, starting from 0. Data is retrieved using this index.

      Access Method: Data is accessed by position (e.g., list[0])

   * Dictionary: A dictionary is a key-value mapping, where each value is associated with a unique key. Unlike lists, dictionaries do not use numeric indexes for access.
     
      Access Method: Data is accessed by key (e.g., dict["key"])

 # 1. Write a code to create a string with your name and print it.

In [1]:
name = 'Navdeep Gupta'
print(name)

Navdeep Gupta

# 2. Write a code to find the length of the string "Hello World".

In [4]:
a = 'Hello World'
print(len(a))

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [6]:
a = 'Python Programming'
print(a[:3])

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [7]:
a = 'hello'
print(a.upper())

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

# 6.  Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
l = [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [12]:
l = ['a', 'b', 'c', 'd']
print(l[1])

b

# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [18]:
l = [10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [19]:
t= (100, 200, 300)
print(t)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [26]:
t =  ('red', 'green', 'blue', 'yellow')
print(t[-2:])

('blue', 'yellow')

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [28]:
t = (10, 20, 5, 15)
print(min(t))

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [29]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [30]:
t = ('apple', 'banana', 'kiwi')
print('kiwi' in t)

True

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [31]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [32]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [33]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [36]:
s= {1,2,3}
t={3,4,5}
u = s.union(t)
print(u)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [38]:
s= {1,2,3}
t={2,3,4}
u = s.intersection(t)
print(u)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [39]:
dict = {'name': 'Navdeep Gupta', 'age': 20, 'city': 'Gwalior'}
print(dict)

{'name': 'Navdeep Gupta', 'age': 20, 'city': 'Gwalior'}

#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [40]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [41]:
d={'name': 'Alice', 'age': 30}
print(d['name'])

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [44]:
d= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [45]:
d= {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
l = [1,2,3,'hi',3+1j]
t = (1,2,3,True,5j)
d = {'name': 'Navdeep Gupta', 'age': 20, 'city': 'Gwalior'}
print(l)
print(t)
print(d)

[1, 2, 3, 'hi', (3+1j)]
(1, 2, 3, True, 5j)
{'name': 'Navdeep Gupta', 'age': 20, 'city': 'Gwalior'}

#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [60]:
import random
l = []
for i in range(5):
    l.append(random.randint(1,100))
l.sort()
print(l)

[6, 7, 24, 29, 90]

# 28. Write a code to create a list with strings and print the element at the third index.

In [49]:
l= ['apple', 'banana', 'kiwi', 'orange']
print(l[2])

kiwi

# 29. Write a code to combine two dictionaries into one and print the result.

In [57]:
d1= {'name': 'Navdeep Gupta', 'age': 20}
d2= {'contact': 8822000000, 'city': 'gwalior' }
d1.update(d2)
print(d1)

{'name': 'Navdeep Gupta', 'age': 20, 'contact': 8822000000, 'city': 'gwalior'}

#  30. Write a code to convert a list of strings into a set.

In [58]:
l= ['a','hi', 'ab', 'a', 'pwskills']
s=set(l)
print(s)

{'hi', 'a', 'ab', 'pwskills'}